@use "../foundation" as *;

$_has_layer: true !default;
@mixin _styles() {
  .l-content {
    $this: &;

    &:has(.l-sidebar) {
      position: relative;
      display: flex;
      align-items: stretch;
      gap: csize(24, 40) 0;
    }
  }
}
@if $_has_layer {
  @layer layout.content {
    @include _styles;
  }
} @else {
  @include _styles;
}
